name: Simple Test Workflow
on: [push]
  #[pull_request]:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Git Checkout
      uses: actions/checkout@v3
      with:
        repository: Nikesh6920/calculator
        path: master
#     - uses: ./.github/actions/checkout-action

    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: maven
        
    - name: Build with Maven
      run: |
           #mvn -B package --file pom.xml
           mvn clean install
           cd target && ls
           
#    - name: Veracode Upload And Scan
#      uses: veracode/veracode-uploadandscan-action@0.2.1
#      with:
#        appname: 'VeraDemo'
#        createprofile: true
#        filepath: 'target/*.war'
#        vid: '${{ secrets.API_ID }}'
#        vkey: '${{ secrets.API_KEY }}'
#        createsandbox: 'true'
#        sandboxname: 'SANDBOXNAME'
#        scantimeout: 0
#        exclude: '*.js'
#        include: '*.war'
#        criticality: 'VeryHigh'
